name: Build and run integration tests

on:
  push:
    branches: [ "stage" ]

jobs:
  build_integration_tests:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository 
      uses: actions/checkout@v4
    - name: Setup .NET version 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Execute Unit Test
      run: dotnet test HouseRentingSystem.Tests/HouseRentingSystem.Tests.csproj --no-build --verbosity normal
