name: Build and run the integration tests

on:
  push:
    branches: [ "staging" ]

jobs:
  build_run_integration_test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the reporsitory to the runner
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run integration Tests
      run: dotnet test --no-build --verbosity normal
